<input type="range" min="-10" max="10" value="{{value}}" step="5" onchange="{{ctx "onchange(event)"}}">
<div class="calendar-presence-bars">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="calendar-presence-labels">
    <p style="left: 15px; transform: translateX(-50%)">Occupé</p>
    <p style="right: 15px; transform: translateX(50%)">Disponible</p>
</div>