<div class="calendar-app">
    <div class="calendar-header">
        <p>Semaine 8</p>

        <button>Jour</button>
        <button>Semaine</button>
        <button>Mois</button>
        <button>Année</button>
    </div>
    <div class="calendar-column">


    </div>
</div>