
{{#if title}}
    <div class="calendar-column-header">
        <h1>{{title}}</h1>
    </div>
{{else}}
    <div class="calendar-row-header">
        <h1 style="visibility: hidden">00:00</h1>
    </div>
{{/if}}