<div class="calendar-create-event">

    <form onsubmit="{{ctx 'login(event)'}}">
        <button>X</button>
        <h2>Ajouter un évenement</h2>
        <input type="text" name="name" placeholder="Nom de l'évenement">
        <label for="presence">Présence :</label>
        <select id="presence" name="presence">
            <option value="present">Je suis là</option>
            <option value="absent">je suis pas là</option>
        </select>
        <input type="submit" value="Ajouter">
    </form>


</div>