<div class="my-calendars">
    <h2>Mes calendriers</h2>
    <div class="calendar-list" {{object "calendar_list"}}></div>
    <button onclick="{{ctx 'create()'}}"><img src="/public/images/icons/icons8-add-properties-96.png" alt="new calendar">Nouveau calendrier</button>
</div>