calendar-date-time-input {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: white;
  padding: 10px;
  align-items: center;
  flex-grow: 0;

  button {
    margin: 0;
    border: solid 1px transparent;
    border-radius: 0;
    padding: 0;
  }

  div button:hover {
    background-color: gray;
  }

  .calendar-dt-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 700;
    width: fit-content;

    p {
      margin: 0;
    }

    .calendar-dt-timeval {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .calendar-dt-separator {
    height: 1px;
    width: 100%;
    background-color: gray;
  }

  .calendar-dt-date {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #c7c7c7;
    font-size: 1.2rem;
    font-weight: 600;
    text-wrap: nowrap;


    .calendar-dt-year {
      text-align: start;
      font-size: 1.2rem;
      font-weight: inherit;
      color: #999999;
    }

    .calendar-dt-date {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.calendar-dt-notime {

  .calendar-dt-date {
    font-size: 1.5rem;
    color: white;
  }
}