<div class="calendar-dt-date">
    <button class="calendar-dt-year">{{year}}</button>
    <button class="calendar-dt-day">{{day}}</button>
</div>
<div class="calendar-dt-time">
    <button class="calendar-dt-hour">{{hour}}</button><p>:</p><button class="calendar-dt-minutes">{{minutes}}</button>
</div>