.calendar-dt-picker-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.79);
  align-items: center;
  justify-content: center;

  .calendar-time-picker {
    display: flex;
    flex-direction: column;
    width: 80dvw;
    height: fit-content;
    background-color: #202020;
    align-items: center;
    justify-content: center;

    calendar-clock {
      margin: 20px;
    }

    .calendar-time-picker-time {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        padding: 10px 20px;
      }

      > button, p {
        font-size: 3rem;
        margin: 0;
      }

      p {
        padding: 0 10px;
      }
    }
  }
}