@import "time/time_picker";

calendar-date-time-input {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  flex-grow: 0;

  button {
    margin: 0;
    border: solid 1px transparent;
    padding: 0;
    border-radius: 10px;
  }

  div button:hover {
    background-color: gray;
  }

  .calendar-dt-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;

    p {
      margin: 0;
    }

    .calendar-dt-timeval {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .calendar-dt-separator {
    height: 1px;
    width: 100%;
    background-color: gray;
  }

  .calendar-dt-date {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #c7c7c7;
    font-size: 1.1rem;
    font-weight: 500;
    text-wrap: nowrap;


    .calendar-dt-year {
      text-align: start;
      font-size: 1rem;
      font-weight: inherit;
      color: #999999;
    }

    .calendar-dt-date {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.calendar-dt-notime {

  .calendar-dt-date {
    font-size: 1.1rem;
    color: white;
  }
}

.calendar-dt-picker-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;

  .calendar-datetime-picker {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    pointer-events: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    border: solid 1px #151515;
    box-shadow: -10px -5px 20px #000;
  }
}