$text-color: #ffffff;
$text-secondary: rgba(255, 255, 255, 0.47);
$primary: #53812c;
$background: #1f232c;
$secondary: rgba(10, 10, 11, 0.51);
$notification: rgba(96, 96, 96, 0.51);
$toolbar: #202a38;

$border-default: #5b6574;
$text-url: #3c94af;
$progress-bar: #00ff04;
$sub-progress-bar: #596c59;

$button_1: #2180FF;
$cancel-background: #9f1600;
$cancel-border: #f61701;

$button_yes: #00ff04;

@function item_hover($base) {
  @return adjust-color($base, $hue: -2deg, $lightness: -15%);
}

@function item_active($base) {
  @return adjust-color($base, $hue: 5deg, $lightness: -20%);
}

@function item_focused($base) {
  @return adjust-color($base, $hue: 0deg, $lightness: -10%);
}

@function lighten($base) {
  @return adjust-color($base, $hue: 0deg, $lightness: 10%);
}

@function opaque($base) {
  @return rgba($base, 1);
}
