body {
  touch-action: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #232627;
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 400;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100dvw;
    overflow: hidden;

    h1 {
      flex-grow: 1;
      font-size: 1.5em;
      margin: 0;
    }
  }

  @media (min-aspect-ratio: 2) {
    .header {
      font-size: 1em;

      button {
        font-size: 0.7em;
      }

      h1 {
        font-size: 0.7em;
      }
    }
  }

  #page-content {
    flex-grow: 1;
  }
}

p {
  color: white;
}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

button {
  background-color: #1d1d1d;
  border: solid 1px #111111;
  max-height: 4em;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    height: 25px;
  }

  &:hover {
    background-color: #3b3b3b;
    border: solid 1px #525252;
    cursor: pointer;
  }

  &:active {
    background-color: #606060;
    border: solid 1px #676767;
  }
}

a {
  text-decoration: none;
  color: #77d377;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #375a37;
  }
}

input {

  &[type="submit"], &[type="button"] {
    &:hover {
      cursor: pointer;
    }
  }
}

select {
  background-color: transparent;
  border: solid 1px transparent;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  height: 50px;

  option {
    width: 100%;
    text-align: center;
    font-weight: 800;
    padding: 20px;
    margin: 20px;
  }

  &:hover {
    background-color: #3b3b3b;
    border: solid 1px #525252;
  }

  &:active {
    background-color: #606060;
    border: solid 1px #676767;
  }
}