
.login-modal {
  display: flex;
  align-items: center;

  input {
    margin-bottom: 20px;
    &[type="text"] {
      width: 100%;
    }
  }

  #forgot-password {
    margin-bottom: 20px;
    align-self: center;
  }

  .footer {

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;

    a {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.8rem;
      color: gray;
      margin: 0 10px
    }
  }
}