
<form onsubmit="{{ctx 'submit(event)'}}">
    <calendar-modal-close></calendar-modal-close>
    <h2>Ajouter un évenement</h2>
    <div class="calendar-create-event-events" {{object "event_list"}}></div>
</form>