<form onsubmit="return false">
    <calendar-modal-close></calendar-modal-close>
    <h2>Créer des évenements</h2>
    <label>Présence</label>
    <calendar-presence-slider value="{{default_presence}}" {{object "presence"}}></calendar-presence-slider>
    <div class="calendar-create-event-events" {{object "event_list"}}></div>

    <input type="button" onclick="{{ctx 'submit(event)'}}" value="Créer les évenements">
</form>