
calendar-clock {
  display: flex;
  position: relative;
  border-radius: 100%;
  background-color: #3b3b3b;
  user-select: none;

  p {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .calendar-time-needle {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;

    .calendar-time-center {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #61DAFFFF;
      border-radius: 100%;
    }

    .calendar-time-link {
      position: absolute;
      background-color: #61DAFFFF;
      width: 2px;
      left: 50%;
      transform: translateX(-50%);
      transition-duration: 0.2s;
    }

    .calendar-time-indicator {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #61DAFFFF;
      border-radius: 100%;
      transition-duration: 0.2s;
    }
  }
}