<div id="ask-for-cookies">
    <p>Note : Les cookies sont requis pour vous permettre de rester connecté et sauvegarder vos paramètres en local pour votre prochaine connexion.</p>
    <button onclick="{{ctx "enable()"}}">Activer les cookies essentiels</button>
    <button onclick="{{ctx "skip()"}}">Ignorer</button>
</div>